aside.left-menu div.block_assignments div.content div.row-fluid div.span6 {
	width: 100%;
	margin-left: 0;
}

aside.right-menu div.block_assignments div.content div.row-fluid div.span6 {
	width: 100%;
	margin-left: 0;
}